In [1]:
import pandas as pd 
import numpy as np
excel = 'data.xlsx'
df = pd.read_excel(excel)
df.head()

,Unnamed: 0,twitter_profile,tweet_id,creation,text,favorites,replying_to,retweets,total_followers
0,0,stoolpresidente,1303088213465149441,2020-09-07 21:50:14,I could give this exact speech to all of @bars...,8214,NaN,532,1805005
1,1,stoolpresidente,1303018524365987844,2020-09-07 17:13:19,@twitterrabuse https://t.co/rbTXm3kuOd,644,NaN,11,1805005
2,2,stoolpresidente,1302996071526928386,2020-09-07 15:44:06,RT @jerrythornton1: Cam Newton Calls Playing f...,0,NaN,58,1805005
3,3,stoolpresidente,1302958816355667970,2020-09-07 13:16:04,#Bitcoin ðŸ™€,2902,NaN,137,1805005
4,4,stoolpresidente,1302935877627281411,2020-09-07 11:44:55,Itâ€™s football season. https://t.co/T0Ucq74ymu,6979,NaN,559,1805005

In [2]:
profile_list = df['twitter_profile'].unique().tolist()
profile_mapping = {'stoolpresidente':'Barstool' ,
 'EKANardini':'Barstool' ,
 'BarstoolBigCat':'Barstool' ,
 'PFTCommenter':'Barstool',
 'KFCBarstool':'Barstool',
 'Return_Of_RB':'Barstool',
 'paulloduca16':'Barstool',
 'DanaB_Number3':'Barstool',
 'TomScibelli':'Barstool',
 'marty_mush':'Barstool',
 'ChrisRyan77':'The Ringer',
 'netw3rk':'The Ringer',
 'BillSimmons':'The Ringer',
 'micahpeters_':'The Ringer',
 'MalloryRubin':'The Ringer'}

df['Company'] = df['twitter_profile'].map(profile_mapping)

The data that is being used for the following analysis is a look at each individuals last 3,200 tweets. The below takes a look at each twitter profile and returns: their average number of favorites, retweets, ratio of favorites to their respective twitter following, and ratio of retweets to their respective twitter following . It is interesting to see that Dana B, who is not involved in the content side of barstool gets the most engagement* from his twitter following. 

*engagement is "This is an enterprise API available within our managed access levels only. To use this API, you must first set up an account with our enterprise sales team." and is truly derived as "The Engagement API provides access to Tweet impression and engagement metrics." https://developer.twitter.com/en/docs/twitter-api/v1/metrics/get-tweet-engagement/overview

Analysis for true engagement may be better suited if enterprise API was made available, but for now this will do.

In [3]:
df['fav_to_followers_ratio'] = df['favorites'] / df['total_followers']
df['rt_to_followers_ratio'] = df['retweets'] / df['total_followers']
df.groupby('twitter_profile').agg({'favorites':'mean','retweets':'mean','fav_to_followers_ratio':'mean','rt_to_followers_ratio':'mean'}).sort_values(by='fav_to_followers_ratio',ascending=False)

,favorites,retweets,fav_to_followers_ratio,rt_to_followers_ratio
twitter_profile,,,,
DanaB_Number3,701.665736,44.877209,0.004656,0.000298
netw3rk,861.236760,1014.452648,0.003679,0.004334
marty_mush,596.009254,53.995065,0.003118,0.000282
micahpeters_,87.214803,2121.578268,0.002814,0.068442
TomScibelli,346.252022,39.203485,0.002663,0.000302
stoolpresidente,4653.894998,394.327742,0.002578,0.000218
PFTCommenter,1557.508268,125.150390,0.002022,0.000162
EKANardini,333.800997,147.151666,0.001642,0.000724
KFCBarstool,560.171953,388.717040,0.001425,0.000989
MalloryRubin,194.550541,550.679444,0.001417,0.004011
BarstoolBigCat,1394.484322,178.650109,0.001264,0.000162
paulloduca16,73.357026,73.900554,0.000918,0.000925
Return_Of_RB,28.868193,9.452970,0.000618,0.000202
ChrisRyan77,34.680672,23.638967,0.000269,0.000183
BillSimmons,898.482759,196.097970,0.000155,0.000034

The below is showing the time range for each individual twitter account. It is clearly evident from the data that The Ringer's personalities do not tweet as often as a personality from Barstool. The oldest tweet from a Barstool employee that is being examined, is 06/26/2019, which is from CEO, Erika Nardini. The oldest tweet from a Ringer employee, is 06/26/17, which is from Editoral Director, Chris Ryan.

In [4]:
profiles = df['twitter_profile'].unique()
for profile in profiles: 
    user = df[df['twitter_profile'] == profile]
    oldest = user['creation'].min()
    newest = user['creation'].max()
    print(f"{profile} oldest tweet was from {oldest}, and newest tweet was from {newest}")

stoolpresidente oldest tweet was from 2020-02-19 19:12:42, and newest tweet was from 2020-09-07 21:50:14
EKANardini oldest tweet was from 2019-06-26 23:00:09, and newest tweet was from 2020-09-08 00:32:39
BarstoolBigCat oldest tweet was from 2020-07-04 18:40:13, and newest tweet was from 2020-09-08 00:30:45
PFTCommenter oldest tweet was from 2020-04-01 04:00:33, and newest tweet was from 2020-09-07 02:18:34
KFCBarstool oldest tweet was from 2020-05-20 16:28:03, and newest tweet was from 2020-09-07 21:29:22
Return_Of_RB oldest tweet was from 2020-06-19 20:40:23, and newest tweet was from 2020-09-07 23:52:20
paulloduca16 oldest tweet was from 2019-11-16 04:34:32, and newest tweet was from 2020-09-08 00:08:16
DanaB_Number3 oldest tweet was from 2020-02-15 00:14:40, and newest tweet was from 2020-09-08 00:08:52
TomScibelli oldest tweet was from 2019-08-23 15:26:40, and newest tweet was from 2020-09-07 17:25:21
marty_mush oldest tweet was from 2019-12-07 21:21:26, and newest tweet was from 2020-09-08 00:58:35
ChrisRyan77 oldest tweet was from 2017-06-26 16:32:41, and newest tweet was from 2020-09-07 21:55:05
netw3rk oldest tweet was from 2020-02-04 05:41:54, and newest tweet was from 2020-09-07 14:51:44
BillSimmons oldest tweet was from 2019-06-08 03:11:09, and newest tweet was from 2020-09-07 04:05:18
micahpeters_ oldest tweet was from 2019-06-11 20:10:11, and newest tweet was from 2020-09-07 18:44:40
MalloryRubin oldest tweet was from 2017-08-31 06:10:28, and newest tweet was from 2020-09-06 21:49:37

Taking a look at the following for 5 employees from each company (Barstool: 'stoolpresidente','EKANardini','BarstoolBigCat','PFTCommenter','KFCBarstool') (The Ringer: 'ChrisRyan77','netw3rk','BillSimmons', 'micahpeters_', 'MalloryRubin'), The Ringer has ~20% more followers. 

The Ringer may have 20% more following, but it is evident that is mostly because of Bill Simmon's 5.8 million followers. Of all the Ringer employee's looked at, Simmon's makes up 92% of their following. Looking at Barstool's distribution of followers, Dave Portnoy makes up 42%. 

Looking more into these employee's individual profiles and their "engagement", Portnoy has 53% less followers than Bill Simmons, yet his average favorite and retweet per tweet exceed's Bill's by 3,800 and 400, respectively. It is important to note, you don't have to be following someone to be able to favorite their tweet. I still find it interesting that  Bill has 3x the amount of followers of Portnoy, yet he trails his average favorite/retweet count by 4x/2x. It could possibly be attributed to the fact that Bill doesn't really tweet out his takes or opinions as much as Dave. But when you have a media company, isn't the point to express your thoughts and feelings to the masses to garner engagement?

In [5]:
top5 = ['stoolpresidente','EKANardini','BarstoolBigCat','PFTCommenter','KFCBarstool','ChrisRyan77','netw3rk','BillSimmons', 'micahpeters_', 'MalloryRubin']
top5_df_foll = df[df['twitter_profile'].isin(top5)].drop_duplicates(subset='twitter_profile')
top5_df_foll.groupby('Company').agg({'total_followers':'sum'})

            total_followers
Company
Barstool            4274801
The Ringer          6316292

In [26]:
total_stool = top5_df_foll[top5_df_foll['Company'].str.contains('Barstool')]['total_followers'].sum()
total_ringer = top5_df_foll[top5_df_foll['Company'].str.contains('Ringer')]['total_followers'].sum()

def normalize_perc(row):
    if row['Company'] == 'Barstool':
        return (row['total_followers']/total_stool) * 100
    elif row['Company'] == 'The Ringer':
        return (row['total_followers']/total_ringer) * 100    

top5_df_foll['%_following_for_co'] = top5_df_foll.apply(lambda row: normalize_perc(row), axis=1)
top5_df_foll[['twitter_profile','%_following_for_co','Company','total_followers']]

       twitter_profile  %_following_for_co     Company  total_followers
0      stoolpresidente           42.224305    Barstool          1805005
3219        EKANardini            4.756736    Barstool           203341
6430    BarstoolBigCat           25.798417    Barstool          1102831
9651      PFTCommenter           18.022313    Barstool           770418
12856      KFCBarstool            9.198229    Barstool           393206
32052      ChrisRyan77            2.042812  The Ringer           129030
35265          netw3rk            3.705813  The Ringer           234070
38475      BillSimmons           91.587232  The Ringer          5784917
41578     micahpeters_            0.490763  The Ringer            30998
44753     MalloryRubin            2.173380  The Ringer           137277

In [7]:
top5_df = df[df['twitter_profile'].isin(top5)]
top5_df.groupby('twitter_profile').agg({'favorites':'mean','retweets':'mean','fav_to_followers_ratio':'mean','rt_to_followers_ratio':'mean'}).sort_values('favorites',ascending=False)

,favorites,retweets,fav_to_followers_ratio,rt_to_followers_ratio
twitter_profile,,,,
stoolpresidente,4653.894998,394.327742,0.002578,0.000218
PFTCommenter,1557.508268,125.150390,0.002022,0.000162
BarstoolBigCat,1394.484322,178.650109,0.001264,0.000162
BillSimmons,898.482759,196.097970,0.000155,0.000034
netw3rk,861.236760,1014.452648,0.003679,0.004334
KFCBarstool,560.171953,388.717040,0.001425,0.000989
EKANardini,333.800997,147.151666,0.001642,0.000724
MalloryRubin,194.550541,550.679444,0.001417,0.004011
micahpeters_,87.214803,2121.578268,0.002814,0.068442
ChrisRyan77,34.680672,23.638967,0.000269,0.000183